button {
  margin-top: 2em;
}

.button-super {
  padding: 1em;
  font-size: 2em;
  line-height: 0;
}

.click-this {
  color: #fff;
  background-color: #00FF00;
  border-color: #00FF00;
  margin-bottom: 5px;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.333333;
  border-radius: .3rem;
  border: 1px solid transparent;
}
